.navigation li {
  display: inline-block;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 10rem auto 0 auto;
}

input {
  margin-bottom: 10px;
}

.auth-top-text {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
}
